


<h1>{{ product.name }}</h1>

<img src="{{ product.image }}" alt="{{ product.name }}">

{% if product.description %}
<p>{{ product.description }}</p>
{% endif %}

<a href="/">← Terug naar Home pagina</a>

